.container {
    background-color: rgb(234, 11, 11);
    /* height: 300px; */
    display: flex;
}

.container-left {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    /* font-size: 30px; */
}

.container-center {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    /* font-size: 30px; */
}

.container-right {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    /* font-size: 30px; */
}